{% extends "menu.html" %}
{% load static %}

{% block titulo %}Listar Pacientes{% endblock %}

{% block body %}

<div class="container">
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Convenio</th>
            <th scope="col">Telefone</th>
            <th scope="col">E-mail</th>
            <th scope="col">Nascimento</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        {% for paciente in pacientes %}
        <tbody>
        <tr>
            <th scope="row">{{ paciente.id }}</th>
            <td>{{ paciente.nome }}</td>
            <td>{{ paciente.cpf }}</td>
            <td>{{ paciente.convenio }}</td>
            <td>{{ paciente.telefone }}</td>
            <td>{{ paciente.email }}</td>
            <td>{{ paciente.nascimento }}</td>
            <td>
                <a href="{% url 'app:paciente_edit' paciente.id %}"><img src="{% static 'img/edit.png' %}" style="height: 30px"></a>
                <a id="data" data-bs-toggle="modal", onclick="deletePaciente('{{ paciente.nome }}', '{{ paciente.id }}');" data-bs-target="#exampleModal"><img src="{% static 'img/del.png' %}" style="height: 30px"></a>
            </td>
        </tr>

        </tbody>
        {% endfor %}
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="conteudo" class="modal-body">
                Deseja realmente excluir os registros do paciente?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <a id="link" href="#" class="btn btn-danger">Excluir</a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function deletePaciente(nome, id){
        console.log(id, nome);
        document.getElementById('link').setAttribute('href',"/paciente/deletar/" +id);
        document.getElementById('conteudo').innerText = "Deseja realmente excluir os registros do paciente " + nome + "?"
    }
</script>

{% endblock %}