{% extends "menu.html" %}
{% load static %}

{% block titulo %}Listar Pacientes{% endblock %}

{% block body %}

<div class="container">
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Convenio</th>
            <th scope="col">Telefone</th>
            <th scope="col">E-mail</th>
            <th scope="col">Nascimento</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        {% for paciente in pacientes %}
        <tbody>
        <tr>
            <th scope="row">{{ paciente.id }}</th>
            <td>{{ paciente.nome }}</td>
            <td>{{ paciente.cpf }}</td>
            <td>{{ paciente.convenio }}</td>
            <td>{{ paciente.telefone }}</td>
            <td>{{ paciente.email }}</td>
            <td>{{ paciente.nascimento }}</td>
            <td>
                <a href="{% url 'app:paciente_edit' paciente.id %}"><img src="{% static 'img/edit.png' %}" style="height: 30px"></a>
                <a href="{% url 'app:paciente_delete' paciente.id %}"><img src="{% static 'img/del.png' %}" style="height: 30px"></a>
            </td>
        </tr>

        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}